<% if user_signed_in? %>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td> <%= link_to friend.first_name + ' ' + friend.last_name, friend %> </td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, 
          class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>  
    </tbody>
  </table>
  <br>
  <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>
<% else %>
  <h1>Hello friend.</h1>
  <p>Hello friend? That's lame. Maybe I should give you a name.<br> 
  But that's a slippery slope, you're only in my head, we have to remember that.<br>
  Shit, this actually happened, I'm talking to an imaginary person.<br>
  What I'm about to tell you is top secret. A conspiracy bigger than all of us.<br>
  There's a powerful group of people out there that are secretly running the world.<br>
  I'm talking about the guys no one knows about, the ones that are invisible.<br>
  The top 1% of the top 1%, the guys that play God without permission.<br>
  And now I think they're following me.<br><br>
  ... and that's how we met Elliot Alderson</p>
<% end %>
